body {
	font-size: 18px;
}

.site-header {
  border-top: none;
}

.post-title {
    font-size: 2.2rem;
    letter-spacing: -1px;
    line-height: 1;
}

.links h5 {
	font-size: 1em;
	margin-bottom: 0px;
	margin-top: 1.5em;
}



.quotes blockquote {
	letter-spacing: normal;
	margin-bottom: 2rem;
}

.footer-col-wrapper {
	margin-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.footer-col-wrapper div {
	flex: auto;
}


.site-nav label[for="nav-trigger"] {
	margin-top: 10px;
}

.site-nav {
	position: relative;
 	top: 0; 
	right: 0;
	background-color: #fdfdfd;
	 border: none;
	border-radius: 5px;
	text-align: right;
}

.post-content p {
	line-height: 29px;
}

.post-content h1 {
	font-size: 2.2rem;
	margin-top: 2.5rem;
	font-weight: bold;
}

.post-content h2 {
	font-size: 1.8rem;
	margin-top: 2.5rem;
	font-weight: bold;
}

.post-content h2 {
	font-size: 1.5rem;
	margin-top: 2.5rem;
	font-weight: bold;
}

.post-content h3 {
	font-size: 1.2rem;
	margin-top: 2.5rem;
	font-weight: bold;
}

.post-content h4 {
	margin-top: 2.5rem;
	font-weight: bold;
}

.text-muted {
	color: #6c757d;
}

.excerpt p{
	margin-bottom: 0px;
}